#time{
    font-size: 1rem;
    color: black;
    margin-top: 1rem;
    font-weight: 900;
    margin-left: 14.7rem;
    
}
form{
    margin-bottom: 2rem;
}
body{
    background-color: cornsilk;
}
#display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cornsilk;

}
button{
    background:none;
    border: .7px solid black;
    border-radius: .3rem;
    padding: .5rem .7rem;
}
#heading{
    display: flex;
    justify-content: center;
    border: .7rem solid black;
}
#reponseToUserAboutMDT5,#formTwo, #md5heading{
    display: flex;
    justify-content: flex-end;
}